<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APIKey</key>
    <string>YOUR_API_KEY</string>
    <key>CLIENT_ID</key>
    <string>YOUR_CLIENT_ID.apps.googleusercontent.com</string>
    <key>PROJECT_ID</key>
    <string>YOUR_PROJECT_ID</string>
    <key>STORAGE_BUCKET</key>
    <string>YOUR_STORAGE_BUCKET.appspot.com</string>
    <key>DATABASE_URL</key>
    <string>https://YOUR_PROJECT_ID.firebaseio.com</string>
    <key>GCM_SENDER_ID</key>
    <string>YOUR_GCM_SENDER_ID</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.YOUR_CLIENT_ID</string>
</dict>
</plist>