<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA24FWwE2SMmbzKirriFDoFFUmaXSKPrLM</string>
	<key>GCM_SENDER_ID</key>
	<string>446607982003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qahwatalemarat</string>
	<key>PROJECT_ID</key>
	<string>qahwat-al-emarat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qahwat-al-emarat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446607982003:ios:d7e83ac110607e0389dfc6</string>
</dict>
</plist>
